 body{ 
    color: rgb(139, 200, 134);
    background-color: bisque;
    margin:auto;
     font-style: italic ;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     float:center;
     width:500px;
     text-align: center;
     border-radius: 25px;
     
     } 
     #Table{
        
        border-color: rgb(247, 143, 228);
        background-color: orange;
        border-width: 5px;
        border-style: solid;
        border-radius: 5px;
        border-radius: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
     }
     .title{
     font-size: 50px;
     font-weight:bold;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     padding: 30px 40px 20px 10px;
     background-color: rgb(235, 162, 98);
     margin: 30px 20px 40px 10px;
     border:5px solid red ;
     background-image: url(D:\pranjal\java\ADOCATO-logos.jpeg);
     border-radius: 25px;
     
     
     }
     .btn{
      background-color: rgb(251, 255, 255);
      cursor: pointer;
      text-decoration:none;
      border-radius: 25px;
     }

     h1{
      font-size: 20px;
     font-style:italic;
     
     padding: 30px 40px 20px 10px;
     background-color: rgb(235, 162, 98);
     margin: 30px 20px 40px 10px;
     border:5px solid red ;
     box-sizing: border-box;
     background-size:cover;
     border-radius: 25px;
     }
     #textar{width: 500px;
   border-radius: 25px;}
     .btn:hover{
      color: rgb(253, 6, 6);}
      btn.visited{
         color: yellow;}
   